.fizarana2{
    margin-left: 15%;
}

.welcome-admin{
    background-color: #111;
    padding: 15px;
    text-align: center;
    color: #f1f1f1;
}

#affecterParZap{
    /* position: relative; */
    padding: 12px;
    /* left: 80%; */
    width: 18%;
    height: 8vh;
}

#genererNumUnique{
    /* position: relative; */
    padding: 12px;
    /* left: 40%; */
    width: 18%;
    height: 8vh;
}

#cloturerExamen{
    /* padding: 12px; */
    /* left: 40%; */
    /* width: 0%; */

    /* height: 8vh; */
}
/* select custom */

/* fin select custom */
.enteteExamen{
    display: flex;
    justify-content: space-between;
}

.effectifExamen{
    display: flex;
    width: 50%;
    justify-content: space-between;
    /* margin-right: 20%; */
}

.effectif{
    margin-right: 3%; 
}

/* .tdSuppression{
    margin: ;
    width: 100%;
} */