.fizarana2{
    margin-left: 15%;
}

.welcome-admin{
    background-color: #111;
    padding: 15px;
    text-align: center;
    color: #f1f1f1;
}

#modalAjoutSalle{
    position: relative;
    left: 80%;
    width: 18%;
    height: 8vh;
}